NASA_API_KEY=DEMO_KEY
START_DATE=2026-04-01
END_DATE=2026-04-10
RAW_OUTPUT=data/raw/NeoWs.json
PROCESSED_OUTPUT=data/processed/NeoWs_cleaned
CURATED_OUTPUT=data/curated/NeoWs_metrics
_PIP_ADDITIONAL_REQUIREMENTS =
AIRFLOW_UID=1000
